<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.mapper.BookMapper">
    <sql id="selectBook">
        id,
        name,
        publisher,
        publication_date
    </sql>
    <select id="findAll" resultType="example.model.Book">
        SELECT
        <include refid="selectBook" />
        FROM book;
    </select>
    <select id="findById" resultType="example.model.Book">
        SELECT
        <include refid="selectBook" />
        FROM book
        <where>
            id = #{id}
        </where>
        ;
    </select>
    <insert id="insert" parameterType="example.model.Book">
        INSERT INTO book (
            name,
            publisher,
            publication_date,
            created_at,
            updated_at
        ) VALUES (
            #{name},
            #{publisher},
            #{publicationDate},
            current_timestamp,
            current_timestamp
        );
    </insert>
    <update id="update" parameterType="example.model.Book">
        UPDATE book
        SET
            name = #{name},
            publisher = #{publisher},
            publication_date = #{publicationDate},
            updated_at = current_timestamp
        WHERE
            id = #{id}
    </update>
</mapper>